*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.header{
    width: 100%;
    background-color: rgb(53, 115, 197);
   
}

.menu ul li{
    background-color: rgb(92, 180, 252);
    margin: 10px;
    text-align: center;
    font-weight: bolder;
    border-radius: 3px;
}
.menu ul li:hover{
    cursor: pointer;
    background-color: rgb(191, 222, 247);
    transform-box:scale(1.01);
    

}
.aside{
    background-color: rgb(114, 147, 255);
    text-align: center;
    padding: 5px;
    color: aliceblue;
}
.aside h2{
    margin: 10px;
}
.footer{
    width: 100%;
    height: 50px;
    text-align: center;
    background-color: rgb(115, 141, 253);
}
.footer p{
   padding:14px;
}

@media only screen and (orientation:landscape) {
    body{
        background-color: rgb(238, 238, 238);
    }

    
}
.row::after{
    content: "";
    clear: both;
    display: table;
}
/*smartphone*/
[class*="col-"]{
    width: 100%;
    padding: 40px;
    float: left;

}

@media only screen and (min-width: 600px){
    /*tablet*/
    .col-s-1{
        width: 8.33%;

    }
    .col-s-2{
        width: 16.66%;

    }
    .col-s-3{
        width: 25%;

    }
    .col-s-4{
        width: 33.33%;

    }
    .col-s-5{
        width: 41.66%;

    }
    .col-s-6{
        width: 50%;

    }
    .col-s-7{
        width: 58.33%;

    } .col-s-8{
        width: 66.66%;

    } .col-s-9{
        width: 75%;

    }
    .col-s-10{
        width: 83.33%;

    } .col-s-11{
        width: 91.66%;

    } .col-s-12{
        width: 100%;

    }
}
@media only screen and (min-width: 700px){
    /*pc-desktop*/
    .col-1{
        width: 8.33%;

    }
    .col-2{
        width: 16.66%;

    }
    .col-3{
        width: 25%;

    }
    .col-4{
        width: 33.33%;

    }
    .col-5{
        width: 41.66%;

    }
    .col-6{
        width: 50%;

    }
    .col-7{
        width: 58.33%;

    } .col-8{
        width: 66.66%;

    } .col-9{
        width: 75%;

    }
    .col-10{
        width: 83.33%;

    } .col-11{
        width: 91.66%;

    } .col-12{
        width: 100%;

    }
}
    
